@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,200&display=swap');

@font-face {
  font-family: 'Dymaxion';
  src: url('./Dymaxion.woff') format('woff');
}

html, body {
  background-color: #0a060f;
  height: 100%;
  margin: 0px;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0 !important
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff69b4, 0 0 40px #ff69b4, 0 0 50px #ff69b4, 0 0 60px #ff69b4, 0 0 200px #ff69b4;
  }
  49% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f77eba, 0 0 40px #f77eba, 0 0 50px #f77eba, 0 0 60px #f77eba, 0 0 200px #f77eba;
  }
  50% {
    text-shadow: 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000, 0 0 80px #000000;
  }
  51% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff69b4, 0 0 40px #ff69b4, 0 0 50px #ff69b4, 0 0 60px #ff69b4, 0 0 200px #ff69b4;
  }
  52% {
    text-shadow: 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000, 0 0 80px #000000;
  }
  53% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff69b4, 0 0 40px #ff69b4, 0 0 50px #ff69b4, 0 0 60px #ff69b4, 0 0 200px #ff69b4;
  }
  100% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff69b4, 0 0 40px #ff69b4, 0 0 50px #ff69b4, 0 0 60px #ff69b4, 0 0 200px #ff69b4;
  }
}

@keyframes flicker {
  0% {
    color: #fff;
  }
  49% {
    color: #fff;
  }
  50% {
    color: #000;
  }
  51% {
    color: #fff;
  }
  52% {
    color: #000;
  }
  53% {
    color: #ffffff;
  }
  100% {
    color: #fff;
  }
}

.glow {
  margin-top: 5vh;
  color: #fff;
  animation: glow 10s ease-out infinite, flicker 10s ease-out infinite;
}

.text-container {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container2 {
  background-color: rgb(15, 15, 15);
  color: rgb(255, 255, 255);
}

.text {
  font-family: Montserrat;
  transform: rotate(180deg);
  font-size: 2em;
  color: #ffffff;
}

.image-container {
  height: 100%;
  width: 90%;
}

.image-link {
  height: 100%;
  width: 100%;
  display: block;
}

.info {
  font-weight: 300;
  color: rgb(224, 192, 132);
  text-shadow:rgb(238, 157, 6) 0px 0px 10px, rgb(238, 157, 6) 0px 0px 50px;
}

h1 {
  text-align: center;
  font-size: 25vh;
  font-family: Dymaxion;
  font-weight: 100;
  color: rgb(236, 155, 223);
}

h2 {
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

/* center image-container and all other content */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image-container {
  display: block;
  /* center image container and contents */
  margin: 2% auto 2%;
  width: 100%;
  max-width: 95vw; /* limits to the width of viewport */
  height: 0;
  position: relative;
  padding-bottom: 30.333%; /* for 16:9 aspect ratio */
  overflow: hidden;
}
  
img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
  transition: all 0.4s ease-out;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-out;
  opacity: 0;
}

.image-container:hover img {
  filter: brightness(100%);
}

.image-container:hover::before {
  opacity: 1;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.social-media-icons .icon {
  display: inline-block;
  width: 10vh;
  height: 10vh;
  margin: 0 5vh;
  background-size: cover;
}

.social-media-icons .icon.v3rmillion {
  background-image: url('v3rmlogo.png');
}

.social-media-icons .icon.github {
  background-image: url('githublogo.png');
}